## Writing CSV Files

In [10]:
import pandas as pd

In [11]:
dic = {"A":[1,0,4,6,7,3], "B":[2,3,0,9,6,8], "C":[4,9,5,6,1,2]}
d = pd.DataFrame(dic)
d

   A  B  C
0  1  2  4
1  0  3  9
2  4  0  5
3  6  9  6
4  7  6  1
5  3  8  2

In [12]:
d.to_csv("Test.csv")

In [13]:
# To remove indexes
d.to_csv("Test_1.csv", index = False)

In [14]:
# To add header
d.to_csv("Test_2.csv", index = False, header=[3,5,7])